<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
    <!-- Dao and database initialization -->  
	<servlet>
	   <servlet-name>InitConfig</servlet-name>
	   <servlet-class>com.demo.InitConfig</servlet-class>
	   <load-on-startup>0</load-on-startup>
	</servlet>  

	<!-- A servlet map *.gsg call to html or json -->  
	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>com.demo.GsgDispatch</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>*.gsg</url-pattern>
	</servlet-mapping>
 
	<!-- home page -->
	<welcome-file-list>
		<welcome-file>/page/demo1.html</welcome-file>
	</welcome-file-list>

	<!-- 404 page -->
	<error-page>
		<error-code>404</error-code>
		<location>/page/404.html</location>
	</error-page>


</web-app>